@page
@model Darlingapp.Pages.ContactoModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>FORMULARIOS</title>
    <link real="stylesheet" type="text/ccs" href="css/stales.css" />
    <meta charset="utf-8" />
</head>
<body>
    <form>
        <h1>¡Por favor ingrese sus datos y nos contacteremos con usted!</h1>
        <label form="Nombrecompleto">Nombre completo</label>
        <input type="text" name="nomcompleto" size="40" placeholder="Digite su nombre completo y apellidos" /> <br />
        <label form="emailusuario">Correo Electrónico</label>
        <input type="email" name="emailusu" /> <br />
        <label form="telefusuario">Teléfono</label>
        <input type="tel" name="telefusuario" /> <br />
        <label>Seleccione su provincia de residencia</label>
        <select>
            <option></option>
            <option>San Jose</option>
            <option>Guanacaste</option>
            <option>Limon</option>
            <option>Alajuela</option>
            <option>Puntarenas</option>
            <option>Heredia</option>
            <option>Cartago</option>
            <option>Otro pais</option>

            

        </select>
        <br />
       
    </form>
</body>
</html>