@page
@model Darlingapp.Pages.DescripciónModel
@{
}
<div class="text-center"
<h1>Darling's shoes site'</h1>
     <p>Es un sitio dedicado a la venta de zapatos on line, de todo tipo y talla para todas las personas de todas las edades y gustos.</p>
   </div>

  

