@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Darling's shoes site</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://previews.123rf.com/images/lembergvector/lembergvector1705/lembergvector170500084/78180369-vector-moda-colecci%C3%B3n-de-zapatos-para-hombre-y-para-mujer-calzado-de-moda-.jpg" />
</div>



